# Version control
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
myvenv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Mac
.DS_Store
